name: v2ray_dan
description: Custom V2Ray implementation for Flutter (Android only)
version: 0.0.4
homepage: https://danials.org

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.v2ray.dan
        pluginClass: V2RayDanPlugin
      macos:
        pluginClass: V2RayDanPlugin
